# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Celery
celerybeat-schedule
celerybeat.pid
*.pid
*.log

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test and linting reports
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Pipenv
Pipfile.lock

# Node / frontend (if you have frontend)
node_modules/
dist/
build/
